<% include partials/header %>

<div class="container">
    <div id="form-container">
        <form method="POST" action="/register">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">Sign Up</button>
            </div> 
        </form>
    </div>
</div>

<% include partials/footer %>